<%= javascript_include_tag "https://www.google.com/jsapi", "chartkick" %>
<center><h1>Engineering Library Usage Data</h1></center><br/>
<h1>Data Summary</h1>

     <% floor1Count = 0
        floor0Count = 0
        gamerChairCount = 0
        carrelCount = 0
        beanBagCount = 0
        groupRoomCount = 0
        generalComputersCount = 0
        groupSeatingCount = 0
        computerLabCount = 0
        comfyChairsCount = 0
        scannerCount = 0
        personalDeviceCount = 0
        photocopierCount = 0
        mediaScapeCount = 0
        itcComputerCount = 0
        printerCount = 0
        workingWStaffCount = 0
        browsingCount = 0
        circDeskCount = 0
        quietStudyCount = 0
        groupStudyCount = 0
    %>
    <% @students.each do |student|   
        case student.floor
            when 0
                floor0Count = floor0Count + 1
            when 1
                floor1Count = floor1Count + 1
            else
        end
      
        case student.seating_area
            when 'Study Carrels'
                carrelCount = carrelCount + 1
            when "Gamer Chair"
                gamerChairCount = gamerChairCount + 1
            when "computerLabTotal"
                computerLabCount = computerLabCount + 1
            when "studyRoomTotal"
                groupRoomCount = groupRoomCount + 1
            when "Bean Bag Chair"
                beanBagCount = beanBagCount + 1
            when "Comfy Chair" || "comfyChairs1Total" || "comfyChairs2Total"
                comfyChairsCount = comfyChairsCount + 1
            when "desktops1Total"
                generalComputersCount = generalComputersCount + 1
            when "generalSeating1Total" || "generalSeating2Total"
                groupSeatingCount = groupSeatingCount + 1
            else
                
        end
        
        case student.technology
            when "Scanner"
                scannerCount = scannerCount + 1
            when "Personal Device"
                personalDeviceCount = personalDeviceCount + 1
            when "Photopier"
                photocopierCount = photocopierCount + 1
            when "Media Scape"
                mediaScapeCount = mediaScapeCount + 1
            when "ITC Computer"
                itcComputerCount = itcComputerCount + 1
            when "Printer"
                printerCount = printerCount + 1
            else
                
        end
        
        case student.activity
            when "Working w/Library Staff"
                workingWStaffCount = workingWStaffCount + 1
            when "Browsing"
                browsingCount = browsingCount + 1
            when "Circ Desk"
                circDeskCount = circDeskCount + 1
            when "Quiet Study"
                quietStudyCount = quietStudyCount + 1
            when "Group Study"
                groupStudyCount = groupStudyCount + 1
            else
        end
   
     end %>

    <table id="summary">
        <tr>
            <td></td>
            <td>Total</td>
        </tr>
        <tr>
            <td>Floor 0</td>
            <td><%= floor0Count %></td>
        </tr>
        <tr>
            <td>Floor 1</td>
            <td><%= floor1Count %></td>
        </tr>
        <tr>
            <td>Gamer Chair</td>
            <td><%= gamerChairCount %></td>
        </tr>
        <tr>
            <td>Study Carrels</td>
            <td><%= carrelCount %></td>
        </tr>
        <tr>
            <td>Comfy Chair</td>
            <td><%= comfyChairsCount %></td>
        </tr>
        <tr>
            <td>Bean Bag Chair</td>
            <td><%= beanBagCount %></td>
        </tr>
        <tr>
            <td>Computers--Main</td>
            <td><%= generalComputersCount %></td>
        </tr>
        <tr>
            <td>Computer Lab</td>
            <td><%= computerLabCount %></td>
        </tr>
        <tr>
            <td>Group Seating</td>
            <td><%= groupSeatingCount %></td>
        </tr>
        <tr>
            <td>Reserved Group Rooms</td>
            <td><%= groupRoomCount %></td>
        </tr>
        <tr>
            <td>Group Study</td>
            <td><%= groupStudyCount %></td>
        </tr>
        <tr>
            <td>Quiet Study</td>
            <td><%= quietStudyCount %></td>
        </tr>
        <tr>
            <td>Circ Desk</td>
            <td><%= circDeskCount %></td>
        </tr>
        <tr>
            <td>Browsing</td>
            <td><%= browsingCount %></td>
        </tr>
        <tr>
            <td>Working w/Library Staff</td>
            <td><%= workingWStaffCount %></td>
        </tr>
        <tr>
            <td>Scanner</td>
            <td><%= scannerCount %></td>
        </tr>
        <tr>
            <td>Personal Device</td>
            <td><%= personalDeviceCount %></td>
        </tr>
        <tr>
            <td>Photocopier</td>
            <td><%= photocopierCount %></td>
        </tr>
        <tr>
            <td>Media Scape</td>
            <td><%= mediaScapeCount %></td>
        </tr>
        <tr>
            <td>ITC Computer</td>
            <td><%= itcComputerCount %></td>
        </tr>
        <tr>
            <td>Printer</td>
            <td><%= printerCount %></td>
        </tr>
    </table>

<h1>Floor</h1>
<%= bar_chart Student.group(:floor).count %>

<h1>Seating</h1>
<%= bar_chart Student.group(:seating_area).count %>

<h1>Technology</h1>
<%= bar_chart Student.group(:technology).count %>

<h1>Activity</h1>
<%= bar_chart Student.group(:activity).count %>
