<!DOCTYPE html>
<html>
<head>
  <title>SeniorDesignApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "http://www.google.com/jsapi", "chartkick" %>
  <%= javascript_include_tag "app/assests/javascripts/chartkick.js", "chartkick" %>
</head>
<body>

<%= yield %>

</body>
</html>
